<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Identifiant
            </th>
            <th>
                Libelle
            </th>
            <th>
                Marque
            </th>
            <th>
                Prix
            </th>
            <th>
                Photo
            </th>
            <th>
                Boutique
            </th>
            <th>
                Categorie
            </th>            
        </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{ articlerecup?.id}}</td>
                <td>{{ articlerecup?.libelle}}</td>
                <td>{{ articlerecup?.marque}}</td>
                <td>{{ articlerecup?.prix}}</td>
                <td> <img class="card-img-top" src="{{articlerecup?.photo}}" alt="Card image cap"> </td>
                <td>{{ articlerecup?.boutiqueArticle?.nomBoutique}}</td>
                <td>{{ articlerecup?.categorieArticle?.libelleArticle}}</td>
            </tr>
        </tbody>

</table>
