<div class="row">
    <div *ngFor="let stockageAccessoire of stockageAccessoire" class="col-4 card">
      <img class="card-img-top" src="{{stockageAccessoire.photo}}" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title">{{stockageAccessoire.libelle}}</h5>
        <p class="card-text">Prix : {{stockageAccessoire.prix}} €</p>
        <p class="card-text">Marque : {{stockageAccessoire.marque}} </p>
        <p><button  class="btn btn-danger" (click)="panier(stockageAccessoire.id)"> Acheter </button></p>
      </div>
    </div>
  </div>