<H1>Catalogue des articles</H1>


<div class="row">
    <div *ngFor="let pc of articles" class="col-4 card">
      <img class="card-img-top" src="{{pc.photo}}" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title">{{pc.libelle}}</h5>
        <p class="card-text">Prix : {{pc.prix}} €</p>
        <p class="card-text">Marque : {{pc.marque}} </p>
        
  
      </div>
     <div class="btn-toolbar">
      <td><button (click)="delArticle(pc.id)" class="btn btn-danger"> Supprimer </button></td>
        <td><button  class="btn btn-danger">     Modifier </button></td>
    </div>
    </div>
  </div>