<H1>Catalogue des articles</H1>

<div style="text-align: center" class="row">
  <div *ngFor="let x of articles" class="col-3 card">
    <img class="card-img-top" src="{{x.photo}}" alt="Card image cap" id="center">
    <div class="card-block">
      <h5 class="card-title">{{x.libelle}}</h5>
      <p class="card-text">Prix : {{x.prix}} €</p>
      <p class="card-text">Marque : {{x.marque}} </p>
    </div>

    <div class="btn-toolbar" id="center">
      <td><button (click)="delArticle(x.id)" class="btn btn-danger"> Supprimer </button></td>
      <td><button (click)="editArticle(x.id)" class="btn btn-danger"> Modifier </button></td>
    </div>
  </div>
</div>