
    <form (ngSubmit)=" connexion(f)" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Identifiant</label>
        <input type="text" class="form-control" name="username"  #username="ngModel"
          required ngModel username />
        <div *ngIf="username.touched">
          <div class="alert alert-danger" *ngIf="username.touched">Entrez un identifiant</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" ngModel #password="ngModel"
          required minlength="6" password />
        <div *ngIf="password.touched">
          <div class="alert alert-danger" *ngIf="username.touched">Entrez votre mot de passe</div>
          <div class="alert alert-danger" *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <div *ngIf="f.submitted " class="alert alert-danger">Login failed: {{errormessage}} </div>
      </div>
    </form>


  