<div style="text-align: center;"><h1>Modifier un article</h1></div><br>

<form>
    <div>
        <div>
            <label for=""> Identifiant  </label>
            <input type="text" name="id" [(ngModel)]="articlerecup.id">
        </div>

        <div>
            <label for=""> Libelle  </label>
            <input type="text" name="libelle" [(ngModel)]="articlerecup.libelle">
        </div>
        
        <div>
            <label for="" > Marque </label>
            <input type="text" name="marque" [(ngModel)]="articlerecup.marque">
        </div>

        <div>
            <label for=""> Prix </label>
        <input type="number" name="prix" [(ngModel)]="articlerecup.prix">
        </div>
        
        <div>
            <label for=""> Photo </label>
            <input type="text" name="photo" [(ngModel)]="articlerecup.photo">
        </div> 

        <div>
            <label for="">Catégorie Article</label>
            <select type="text" id="nbetoile" name="nbetoile" [(ngModel)]="articlerecup.categorieArticle.id"
                style="width: 200px;">
                <option *ngFor="let x of categorie" [ngValue]="x.id">{{x.libelleArticle}}</option>

            </select>
        </div>

    <button type="submit" class="btn btn-primary" (click)="EditArticle()"> Modifier </button>
    </div>
</form>