<div class="row">
    <div *ngFor="let disk of disquedur" class="col-4 card">
      <img class="card-img-top" src="{{disk.photo}}" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title">{{disk.libelle}}</h5>
        <p class="card-text">Prix : {{disk.prix}} €</p>
        <p class="card-text">Marque : {{disk.marque}} </p>
        <td><button class="btn btn-danger"> Modifier </button></td>
        <td><button  class="btn btn-danger" (click)="panier(disk.id)"> Acheter </button></td>



      </div>
    </div>
  </div>