<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/home/msi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MSI Gamer</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/home/pc.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Asus Zenbook</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/home/macbook.jpg" width="238.5" height="238.5" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Macbook</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/img/home/hp.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hp ProBook 452 G6</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
  </div>